html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 10px;

  background-image: url(../bg.png);
  background-repeat: repeat;
}

.navbar {
  margin-bottom: 20px;
}

.bordered {
  padding-top: 10px;
  border: 1px solid #DDDDDD;
}

.thumbnail select {
  margin-left: 10px;
}

#guessNetBtn {
  margin-top: 20px;
}
