<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h2>Acerca de</h2>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <p class="text-justify">
      Gallego es una asignacion del curso "Sistemas expertos" para la carrera de Informatica Empresarial de la Universidad de Costa Rica.
      Su objetivo es la exploracion de algoritmos basicos de clasificacion, como base para algoritmos avanzados de ML. <br><br>

      El nombre <em><strong>Gallego</strong></em> fue inspirado por el creador del grupo <a href="https://thealgorithm.bandcamp.com/">The Algorithm</a>
      , Rémi Gallego. Cuyo ultimo disco se titula <em>Brute Force</em>, algo que <em><strong>Gallego</strong></em> realiza a diestra y siniestra :P
    </p>
  </div>
</div>
