<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Gallego <small>Explorando algoritmos basicos de AI</small></h1>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Estilos de aprendizaje</h3>
            <p>
              Identificacion de estilos de aprendizaje aplicando el test de Kolb y distancias Euclidianas
            </p>
            <p><a href="/styles" class="btn btn-primary btn-sm" role="button">Probar</a></p>
          </div>
        </div>
      </div>
  </div>
</div>

