<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Gallego <small>Explorando algoritmos basicos de clasificacion</small></h1>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/styles"><h3>Estilos de aprendizaje <i class="fa fa-leanpub" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion de estilos de aprendizaje basado en el test de Kolb y distancias Euclidianas
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/campus"><h3>Recinto <i class="fa fa-university" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion del recinto de la UCR utilizando distancias Euclidianas
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/misc"><h3>Varios <i class="fa fa-cog" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion del estilo de aprendizaje (sin Kolb) y sexo utilizando distancias Euclidianas 
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/professors"><h3>Nivel de profesor <i class="fa fa-level-up" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion del nivel de profesor (principiante, intermedio o anvazdo) utilizando distancias Euclidianas 
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/networks"><h3>Clase de red <i class="fa fa-cloud" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion de clase de red (A o B) segun confiabilidad, enlaces capacidad y costo. Utilizando distancias Euclidianas
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

