<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Gallego <small>Explorando algoritmos basicos de AI</small></h1>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/styles"><h3>Estilos de aprendizaje</h3></a>
          <p>
            Identificacion de estilos de aprendizaje basado en el test de Kolb y distancias Euclidianas
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/campus"><h3>Recinto</h3></a>
          <p>
            Identificacion del recinto de la UCR utilizando distancias Euclidianas
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/misc"><h3>Varios</h3></a>
          <p>
            Identificacion del estilo de aprendizaje (sin Kolb) y sexo utilizando distancias Euclidianas 
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/professors"><h3>Nivel de profesor</h3></a>
          <p>
            Identificacion del nivel de profesor (principiante, intermedio o anvazdo) utilizando distancias Euclidianas 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

