<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Gallego <small>Explorando algoritmos basicos de clasificacion</small></h1>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/styles"><h3>Estilos de aprendizaje <i class="fa fa-leanpub" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion de estilos de aprendizaje basado en el test de Kolb
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/campus"><h3>Recinto <i class="fa fa-university" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion del recinto de la UCR basado en informacion del estudiante
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/misc"><h3>Varios <i class="fa fa-cog" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion del estilo de aprendizaje (sin Kolb) y genero
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/professors"><h3>Nivel de profesor <i class="fa fa-level-up" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion del nivel de profesor (principiante, intermedio o anvazdo)
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <a href="/networks"><h3>Clase de red <i class="fa fa-cloud" aria-hidden="true"></i></h3></a>
          <p>
            Identificacion de clase de red (A o B) segun confiabilidad, enlaces, capacidad y costo
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
    <hr>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body counter-showcase">
          <i class="fa fa-archive" aria-hidden="true"></i>
          <div>
            <span><%= @total_records %></span>
            <p>Registros</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body counter-showcase">
          <i class="fa fa-child" aria-hidden="true"></i>
          <div>
            <span>5</span>
            <p>Features</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body counter-showcase">
          <i class="fa fa-calculator" aria-hidden="true"></i>
          <div>
            <span>2</span>
            <p>Algoritmos</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

